.input {
    display: flex;
    align-items: start;
}

.buttonRemove {
    cursor: pointer;
    width: 15px;
    height: 15.2px;
    background-color: #FFFFFF;
    align-items: center;
    border: none;
}

.buttonCreate {
    width: 44px;
    height: 44px;
    border: 2px solid #5558FA;
    background-color: #FFFFFF;
}