.mainContainer {
    padding: 25px 24px;
}

.inputsContainer {
    padding: 24px 0;
}

.buttonStart {
    background-color: #5558FA;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    color: #FFFFFF;
    cursor: pointer;
}