body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-family: 'SB Sans Interface', Arial, sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'SB Sans Display';
  src: url('./fonts/SBSansDisplayRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'SB Sans Display';
    src: url('./fonts/SBSansDisplaySemiBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SB Sans Interface';
    src: url('./fonts/SBSansInterface-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SB Sans Interface';
    src: url('./fonts/SBSansInterface-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
